body
{
	background-color: #fff;
}

#cards
{
	margin-top:25px;
	margin-top: 2%px;
}

.editar-card
{
	background-color: #FFE4E1;
	padding: 5%;
	margin-top: 10%;
	margin-bottom: 10%;
}



#imagem-card1
{
	background-color: #FFFFFF
}
#imagem-card2
{
	background-color: #B22222;
}
#imagem-card3
{
	background-color: #FF1493;
}
#imagem-card4
{
	background-color: #FFF0F5;
}

.efeito-card
{
	transition: transform 1s:
}
.efeito-card:hover{
	transform: rotateY(360deg);
}

.efeito-img
{
	transition: transform 1s:
}

.efeito-img:hover
{
	transform: scale(1.2) rotateX(360deg);
	cursor: pointer;
}



#rodape
{
height: 110px;
background-image:linear-gradient(to right,#FF1493,#6495ED,#FF7F50);
color: #fff; 
}
.cor-font{
	color: #fff;
}
 
 #button-enviar
 {
	 margin-top: 20px;
 }
 
 
 
.texto-noticias
 {
	 margin-top: 20px;
	 margin-bottom: 20px;
 }
 
.noticia
{
	margin-top: 15px;
	margin-bottom: 15px;
}

body
{
	background-image: url(../img/raio.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	
}

.titulo
{
	color: #fff;
}